.sidebar {
  padding: 25px 10px;
  flex: 0.33;
}

.sidebar > button {
  text-transform: none;
  padding: 0;
  font-size: medium;
}

.sidebar > button:hover {
  background-color: transparent;
}

.sidebar > Popover {
  cursor: pointer;
}
